<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <article id="home" class="panel intro">
    <header>
      <h1>Brett Searle</h1>
      <p>I won't delete this one</p>
    </header>
    <a href="#work" class="jumplink pic">
      <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
      <img src="/css/images/main-1.webp" alt="" />
    </a>
  </article>



</body>
</html>