<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
</head>
<body>

  <article id="work" class="panel">
    <header>
      <h2>Gallery</h2>
    </header>
    <p>
      Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      luctus elit eget interdum.
    </p>
    <!-- I know it says 5-10 but it looks gross so I kept the 12 -->
    <section>
      <div class="row">
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-1.webp" alt="snowboard"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-2.webp" alt="snowboard jump"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-3.webp" alt="ski jump"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-4.webp" alt="man sking"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-5.webp" alt="man sking"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-6.webp" alt="man sking"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-7.webp" alt="friends on a lift"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-8.webp" alt="lady sking"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-9.webp" alt="top of a mountain"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-10.webp" alt="man carving hard sking"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-11.webp" alt="on a lift with skis on"></a>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <a href="#" class="image fit"><img src="image-op\photo-12.webp" alt="snowboard jump"></a>
        </div>
      </div>
    </section>
  </article>

  


</body>
</html>